#bottomContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#bottomDashed {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
  align-items: center;
  border-style: dashed hidden hidden hidden;
  border-width: 2px;
  margin-top: 10vh;
  padding-top: 5vh;
}

#iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {
  width: 2.5vw;
}