.pageBg {
  background-color: '#121212';
}

.link {
  text-decoration: none;
  color: white;
}

.titleContainer {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.pineContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}