.link {
  text-decoration: none;
  color: white;
}

.titleContainer {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.pineContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.title0 {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  font-size: 2vw;
  padding-bottom: 2vh;
  letter-spacing: 0.05em;
  color: white;
}

.title1 {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  font-size: 2vw;
  padding-top: 2vh;
  letter-spacing: 0.05em;
  color: white;
}

.title2 {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
  align-items: flex-end;
  font-size: 2vw;
  padding-top: 2vh;
  letter-spacing: 0.05em;
  color: white;
}

.title3 {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
  align-items: flex-end;
  font-size: 2vw;
  padding-bottom: 2vh;
  letter-spacing: 0.05em;
  color: white;
}