*{
    margin: 0%;
}
body {
    background-color: #141414;
    color: #FFFFFF;
}
.logo {
    position: absolute;
    width: 4.3vw;
    height: 8.131vh;
    left: 5.2%;
    top: 7.4%;
}
.logoDG {
    position: absolute;
    width: 50px;
    height: 110px;
    left: 0%;
    right: 24.7%;
    top: 17.98%;
    bottom: 0%;
}
.filter-logo {
    position: absolute;
    width: 36px;
    height: 80px;
    left: 45.43%;
    right: 0%;
    top: 0%;
    bottom: 40.868%;
    mix-blend-mode: multiply;
}
.menu {
    position: absolute;
    width: 2.866vw;
    height: 2.43vh;
    left: 92.5%;
    top: 9.766%;        
}
.about-us{
    position: absolute;
    left: 10.4%;
    top: 24.22%;
    bottom: 725px;
            
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
    /* identical to box height */
            
    text-align: justify;
    letter-spacing: 0.3em;            
}
.content{
    position: absolute;
    width: 937px;
    height: 231px;
    left: 10.42%;
    top: 25.4%;

    margin: 2% 0% 0% 0%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.18em;
    text-align: justify;
    letter-spacing: 0.1em;
            
    border-style: hidden hidden dashed hidden;
    border-width: 2px;
    padding-top: 2%;
    padding-bottom: 2.5%;
    outline-offset: 0.5rem;
}
.logo-MAT{
    position: absolute;
    width: 17.45vw;
    height: width;
    left: 64.53%;
    right: 18.02%;
    top: 16.5%;
    bottom: 50.78%;
}
.MAT-production{
    position: absolute;
    left: 1264px;
    top: 48.05%;
    bottom: 45.7%;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
    letter-spacing: 0.05em;
}
.making{
    position: absolute;
    height: 40px;
    left: 1264px;
    top: 554px;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
}
.follow-us{
    position: absolute;
    left: 41.25%;
    top: 73.83%;
    bottom: 21.48%;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.3em;
}
.icon{
    display: flex;
    position: absolute;
    height: 42px;
    left: 41.15%;
    top: 78.6%;
}
.contact-us{
    position: absolute;
    left: 10.42%;
    top: 62.89%;
    bottom: 30.86%;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
    letter-spacing: 0.3em;
}
.name{
    position: absolute;
    left: 10.42%;
    top: 71.97%;
    bottom: 25.68%;
            
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.05em;
}
.email{
    position: absolute;
    left: 10.42%;
    right: 72.76%;
    top: 76.37%;
    bottom: 21.58%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.18em;
    letter-spacing: 0.05em;
}
.phone{
    position: absolute;
    left: 10.42%;
    top: 80.47%;
    bottom: 17.48%;
            
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.18em;
    letter-spacing: 0.05em;
}
.icon-facebook, .icon-youtube, .icon-behance{
    padding-right: 0.885vw;
}