:root {
  --length-line-arrow-title-series: 20.1vw;
  --width-line-arrow-title-series: 2px;

  --length-line-arrow-one-card: 22vw;
  --width-line-arrow-one-card: 2px;

  --margin-left: 160px;
  --title-width: 40vw;
}

* {
  color: white;
}

.titleSeries {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
  height: 76vh;
  /* position: relative; */
  background-size: cover;
  background-position: center;
}

#cardSeries {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: var(--margin-left);
  margin-right: var(--margin-left);
  align-items: center;
  background-size: cover;
  background-position: center;
  margin-bottom: 28px;
}

.cliplist1 {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.nameTitleSeries {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: calc(3.5em + 0.5vmin);
  line-height: 1.2em;
  letter-spacing: 0.05em;
  margin-left: var(--margin-left);
  width: var(--title-width);
}

.descriptionTitleSeries {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.3125em;
  text-align: justify;
  letter-spacing: 0.05em;

  margin-top: 16px;
  margin-left: var(--margin-left);

  width: var(--title-width);
}

.arrowTitleSeries {
  margin-left: var(--margin-left);
  margin-top: 16px;
  margin-bottom: 32px;
}

.arrowSeries {
  border: solid white;
  border-width: 0 var(--width-line-arrow-title-series)
    var(--width-line-arrow-title-series) 0;
  display: inline-block;
  padding: 3px;
  margin-left: calc(var(--length-line-arrow-title-series) - 8px);

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
