#logo {
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 1000;
}

#rightTop {
  position: fixed;
  top: 2vh;
  right: 2vw;
  color: white;
}

.rightBot {
  position: fixed;
  bottom: 6vh;
  right: 1vw;
  z-index: 1000;
  font-size: 2vw;
  font-weight: 800;
  color: black;
  transform: rotate(90deg);
  -webkit-font-smoothing: antialiased;
}

.leftBot {
  position: fixed;
  bottom: 6vh;
  left: -1vw;
  z-index: 1010;
  font-size: 2vw;
  font-weight: 800;
  color: black;
  transform: rotate(90deg);
  -webkit-font-smoothing: antialiased;
}

#close {
  position: fixed;
  width: 2.866vmax;
  right: 2vw;
  top: 2vh;
}

#play {
  padding-top: 1vh;
  width: 4vmax;
}
#rectangle {
  width: 4vmax;
  height: 3.5vmax;
  background: #ff0000;
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0;
  left: 0;
}
#triangleRight {
  position: fixed;
  bottom: 3.5vh;
  right: 2.5vw;
  border-left-width: 2vw;
  border-right-width: 2vw;
  border-bottom-width: 4vw;
  border-top-width: 0px;
  border-style: solid;
  background-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: yellow;
  mix-blend-mode: multiply;
  z-index: 2000;
}

#triangleLeft {
  position: fixed;
  bottom: 2.5vh;
  left: 2vw;
  border-left-width: 2vw;
  border-right-width: 2vw;
  border-bottom-width: 4vw;
  border-top-width: 0px;
  border-style: solid;
  background-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #ff0000;
  mix-blend-mode: multiply;
  z-index: 2010;
}
