:root {
  --length-line-arrow-title-series: 20.1vw;
  --width-line-arrow-title-series: 2px;

  --length-line-arrow-one-card: 20vw;
  --width-line-arrow-one-card: 2px;
}

b {
  line-height: 1.8em;
}

.arrowSeries {
  border: solid white;
  border-width: 0 var(--width-line-arrow-title-series)
    var(--width-line-arrow-title-series) 0;
  display: inline-block;
  padding: 3px;
  margin-left: calc(var(--length-line-arrow-title-series) - 8px);

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.lineArrowSeries {
  width: var(--length-line-arrow-title-series);
  border: solid white;
  border-width: var(--width-line-arrow-title-series) 0 0 0;
  margin-top: -10px;
  margin-bottom: 6px;
}

.cardSeries {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
}

.nameTitleOneCard {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: calc(1.5em + 0.5vmin);
  line-height: 1.2em;
  letter-spacing: 0.05em;
  width: var(--length-line-arrow-one-card);
  margin-bottom: 28px;
  margin-top: 28px;
}

.descriptionOneCard {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.4em;
  text-align: justify;
  letter-spacing: 0.05em;

  width: var(--length-line-arrow-one-card);

  margin: 0.74vh 0 2.96vh 0;
}

.oneCard {
  width: 22vw;
  margin-top: 40px;
}

.pictureOneCard {
  width: calc(var(--length-line-arrow-one-card) - 1.458vw);
  height: calc(var(--length-line-arrow-one-card) - 2.59vh);
}

.squareBorderOneCard {
  position: absolute;
  width: calc(var(--length-line-arrow-one-card) - 1.4vw);
  height: calc(var(--length-line-arrow-one-card) - 2.5vh);
  margin: 2vh 1vw;

  border: solid white;
  border-width: var(--width-line-arrow-one-card);
  z-index: -1;
}

.arrowCard {
  border: solid white;
  border-width: 0 var(--width-line-arrow-one-card)
    var(--width-line-arrow-one-card) 0;
  display: inline-block;
  padding: 3px;
  margin-left: calc(var(--length-line-arrow-one-card) - 8px);

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.lineArrowCard {
  width: var(--length-line-arrow-one-card);
  border: solid white;
  border-width: var(--width-line-arrow-one-card) 0 0 0;
  margin-top: -10px;
  margin-bottom: 6px;
}

.listVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-top: 88px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 80px;
  min-width: 700px;
}

.nameChapter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: calc(2.5em + 0.5vmin);
  line-height: 2em;
  text-align: justify;
  letter-spacing: 0.05em;
  margin: 0 0 0 0;
}

.lineChapter {
  border: solid white;
  border: 10px 0 0 0;
  border-width: 4px;
  width: 300px;
}

.sectionName {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: calc(1.8em + 0.5vmin);
  line-height: 1em;
  text-align: justify;
  letter-spacing: 0.05em;
  margin: 80px 0 8px 0;
}
