#pageBg {
  background-color: #141414;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#menuContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pines {
  width: 5vmax;
}
.pine-circle {
  position: absolute;
  width: 6vmax;
  left: 12vw;
  top: 40vh;
  mix-blend-mode: multiply;
}
.pine-circle-right {
  position: absolute;
  width: 6vmax;
  right: 6vw;
  top: 40vh;
  mix-blend-mode: multiply;
}

#menuTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 6vmax;
  line-height: 8vh;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

#filter0 {
  height: 4vh;
  width: 50%;
  position: absolute;
  mix-blend-mode: multiply;
  background-color: #FF0000;
}

#filter1 {
  height: 4vh;
  width: 50%;
  position: absolute;
  mix-blend-mode: multiply;
  background-color: #00D1FF;
}

#filter2 {
  height: 4vh;
  width: 50%;
  position: absolute;
  mix-blend-mode: multiply;
  background-color: #FAFF00;
}

#menuTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 6vh;
}